.dashboard__layout{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(53,220,208,1) 35%, rgba(0,212,255,1) 100%);
    min-height: 100vh !important;
}
/* *{
    
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(53,220,208,1) 35%, rgba(0,212,255,1) 100%);
        
    } */